body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-accent {
    color: #2E2F42;
}
.nav {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.nav-link:hover,
.nav-link:focus {  
    color: #404bbf ;
}
.address {
    font-family: "Roboto", sans-serif ;
    font-style: normal;
}
.address-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
    text-decoration: none;
}
.address-link:focus-child {
    color: #2e2f42;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
    .hero {
        background-color:#2e2f42;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
    }
    .hero-title {
        color: #ffffff;
    }
    .hero-button{
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04;
        color: #ffffff;
    }
    .hero-button:hover,
    .hero-button:focus {
        background-color: #404BBF;
    }